@model List<Octokit.Repository>
@{
    ViewData["Title"] = "Repos";
}

<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">Stars</th>
                    <th scope="col">url</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var repo in Model)
            {
                <tr>
                    <th scope="row">@repo.Id</th>
                    <td>@repo.Name</td>
                    <td>@repo.Owner.Name</td>
                    <td>@repo.CreatedAt.ToString("dd-mm-yy")</td>
                    <td>@repo.UpdatedAt.ToString("dd-mm-yy")</td>
                    <td>@repo.StargazersCount</td>
                    <td>@repo.GitUrl</td>
                    <td>
                        <button type="button" class="btn btn-primary"  value="@repo.Id">Details</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
